li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:blue
}

.form-group{
    margin-bottom: 1em;
}

.wish-title {
    font-size: 1.5em;
}

.front-card {
    height: 250px;
}

.addwish-form {
    margin-top: 2em;
    text-align: center;
}

#heading {
    font-size: 3em;
    text-align: center;
}